body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#game-board {
  background-color: skyblue;

  margin: 0 auto;
  border-left: 1px dotted rgb(61, 28, 13);
  border-right: 1px dotted rgb(61, 28, 13);
  width: 130vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.sky {
  background-color: skyblue;

}

.dirt {
  background: url("/assest/dirt.jpg") no-repeat center center/cover;

}

.grass {
  background: url("/assest/grass.jpg")no-repeat center center/cover;

}

.rock {
  background: url("/assest/rock.jpg")no-repeat center center/cover;

}

.tree {
  background: url("/assest/tree.jpg")no-repeat center center/cover;

}

.snoww {
  background: url("/assest/snow.jpg")no-repeat center center/cover;

}

.snow {
  background: url("/assest/snow.jpg")no-repeat center center/cover;

}

.trunk {
  background: url("/assest/trunk.jpg")no-repeat center center/cover;

}

.leaves {
  background: url("/assest/leaves.png")no-repeat center center/cover;
}





.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.allTheTools {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  background-color: rgb(248, 202, 202);
  height: 100vh;
  width: 25%;
}

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 7rem;
  border: 1px gray solid;
}

.picaxe {
  background: url("/assest/pickaxe.png") no-repeat center center/cover;
  width: 3rem;
  height: 3rem;
}

.shovel {
  background: url("/assest/shovel.png") no-repeat center center/cover;
  width: 3rem;
  height: 3rem;
}

.axe {
  background: url("/assest/axe.png") no-repeat center center/cover;
  width: 3rem;
  height: 3rem;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container1 {
  margin-top: 1rem;
  margin-left: 1rem;

  width: 3rem;
  height: 3rem;
  border: 1px solid black;
}